img {
  width: 30%;
  float: center;
  margin: 1.55%;
  border-radius: 5px;
}

h1 {
  font-family: 'Slabo 27px';
  margin-left: 1.8%;
  font-size: 30px;
  font-weight: 800;
  border-bottom: 1px solid #f1f1f1;
  width: 35%;
  padding-bottom: 0px;
}
